<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Blog{% endblock %}</title>
</head>
<body>
    <header>
        <h1>My Blog Website</h1>
        <nav>
            <a href="{% url 'main' %}">Home</a>
            <a href="{% url 'users' %}">Users</a>
            <a href="{% url 'blogs' %}">Blogs</a>
            <a href="{% url 'comments' %}">Comments</a>
            <a href="{% url 'categories' %}">Categories</a>
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <hr>
        <p> 2025 Shahenaz's Blog Django Project</p>
    </footer>
</body>
</html>
